/* Reset styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Main container styles */
.container {
  max-width: 400px;
  margin: 20px auto; /* Add some margin to the top */
  padding: 40px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Logo styles */
.container h1 {
  font-size: 36px; /* Larger font size */
  color: #bd835d; /* Custom color */
  margin-bottom: 20px; /* Spacing below the logo */
  text-align: center; /* Center align the logo */
}

/* Sign Up title styles */
.container h2 {
  font-size: 24px; /* Larger font size */
  margin-bottom: 20px; /* Spacing below the title */
  text-align: center; /* Center align the title */
}

/* Form styles */
.container form {
  width: 100%; /* Full width */
  padding: 20px;
}

/* Input field styles */
.container input {
  width: 100%;
  padding: 12px; /* Adjust padding as needed */
  margin-bottom: 20px; /* Spacing between input fields */
  border: 1px solid #cccccc; /* Light gray border */
  border-radius: 6px; /* Rounded corners */
  font-size: 16px; /* Font size */
}

/* Error and success message styles */
.container .error {
  color: red;
  margin-bottom: 20px;
}

.container .success {
  color: green;
  margin-bottom: 20px;
}

/* Link styles */
.container a.menuItem_forgotPassword ,
.container a.menuItem_createAccount{
  display: block;
  text-align: right;
  text-decoration: none;
  color: #5b4121; /* Custom color */
  margin-bottom: 20px; /* Spacing between links */
}

.container a.menuItem_forgotPassword:hover,
.container a.menuItem_createAccount:hover  {
  text-decoration: underline; /* Underline on hover */
}

/* Button styles */
.container button{
  width: 100%;
  padding: 12px; /* Adjust padding as needed */
  background-color: black; /* Custom button color */
  color: #ffffff; /* White text color */
  border: none;
  border-radius: 6px; /* Rounded corners */
  font-size: 16px; /* Font size */
  cursor: pointer;
}

.container button:hover {
  background-color: #004080; /* Darker button color on hover */
}

.menuItem_Login
{
  color: #ffffff;
}
